
@{
    Layout = null;
}
<!DOCTYPE html>

<html class="no-js" lang="tr">

@await Component.InvokeAsync("_HeadComponentPartial")
<body id="top">

    @await Component.InvokeAsync("_NavbarComponenetPartial")

    @await Component.InvokeAsync("_FeatureComponentPartial")

    @await Component.InvokeAsync("_AboutComponenetPartial")

    @await Component.InvokeAsync("_PortfolioComponenetPartial")
   
    @await Component.InvokeAsync("_TestimonialComponentPartial")

    @await Component.InvokeAsync("_StatisticComponentPartial")

    @await Component.InvokeAsync("_ContactComponentPartial")
  
    @await Component.InvokeAsync("_FooterComponentPartial")

</body>

</html>