@model Feature
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Özellikler</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Özellik Ekleme Sayfası</div>
					</div>
					<div class="card-body">
					
						<form method="post">
							<label> Başlık</label>
							<input type="text" asp-for="Title" class="form-control"/>
							<br />
							<label>Açıklama</label>
							<Textarea type="text" asp-for="Description" class="form-control" ></textarea>
							<br />
							<button class="btn btn-primary">Özellik Ekle</button>
						</form>
						

					</div>
				</div>

			</div>

		</div>
	</div>
</div>